extends layout

block content
  - let guns = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each gun in guns
      - let destination = `dispatch(\"/guns/update?id=${gun._id}\")`
      div(class="row-sm-2", class="m-1") Gun #{gun.guns_type}(#{gun.guns_name}) is #{gun.guns_cost} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }