extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let gunsid = toShow._id
  - let guns_type = toShow.guns_type
  - let guns_name = toShow.guns_name
  - let guns_cost = toShow.guns_cost
  div
   div.row
    div(class='gunsAttr mr-3') Guns ID is:
    div #{gunsid}
   div.row
    div(class='gunsAttr mr-3') Guns Type is:
    div #{guns_type}
   div.row
    div(class='gunsAttr mr-3') Guns Name is:
    div #{guns_name}
   div.row
    div(class='gunsAttr mr-3') Guns Cost is:
    div #{guns_cost}