extends layout

block content
  h1= title
  - var guns = results;
  div(class="container_fluid")
    each item,index in guns
        div(class="row" onclick = `buy(${index})`)       
            div(class="col-sm-2") #{item.guns_type}
            div(class="col-sm-2") #{item.guns_name}
            div(class="col-sm-2") #{item.guns_cost}
  script.
      function buy(indxnum){
        alert('You purchased item'+ indxnum)
      }